.chat {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding-bottom: 20px;
}

.chat .messages {
  flex: .5;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.chat .messages h1 {
  font-weight: 300;
}

.chat .messages .message {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.chat .messages .message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .messages .message span {
  font-weight: bold;
}

.chat .chatBox {
  flex: .6;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .chatBox .top {
  background-color: #f7c14b85;
  padding: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .chatBox .top .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat .chatBox .top .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .chatBox .top .close {
  cursor: pointer;
}

.chat .chatBox .center {
  height: 350px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat .chatBox .center .chatMessage {
  width: 50%;
}

.chat .chatBox .center .chatMessage.own {
  align-self: flex-end;
  text-align: right;
}

.chat .chatBox .center .chatMessage span {
  font-size: 12px;
  background-color: #f7c14b39;
  padding: 2px;
  border-radius: 5px;
}

.chat .chatBox .bottom {
  border-top: 2px solid #f7c14b85;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .chatBox .bottom textarea {
  flex: 3;
  height: 100%;
  border: none;
  padding: 20px;
  resize: none;
}

.chat .chatBox .bottom button {
  flex: 1;
  background-color: #f7c14b85;
  height: 100%;
  border: none;
  cursor: pointer;
}
