.listPage {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.listPage .listContainer {
  flex: 3;
  height: 100%;
}

.listPage .listContainer .wrapper {
  height: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.listPage .mapContainer {
  flex: 2;
  height: 100%;
  background-color: #fcf5f3;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .listPage .listContainer .wrapper {
    padding-right: 30px;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .listPage {
    flex-direction: column;
  }

  .listPage .mapContainer {
    display: none;
  }

  .listPage .listContainer {
    flex: none;
    width: 100%;
    height: auto;
  }

  .listPage .listContainer .wrapper {
    padding: 20px;
    height: auto;
    overflow-y: visible;
    gap: 30px;
  }
}
