nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

/* General link styles */
nav a {
  transition: all 0.4s ease;
}

nav a:hover {
  transform: scale(1.05);
}

.linkImage {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Hide nav links on small screens */
@media (max-width: 768px) {
  nav a {
    display: none;
  }
}

/* Left side */
nav .left {
  flex: 3;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .left .logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .left .logo img {
  width: 28px;
}

/* Hide logo text on medium screens, show on small */

@media (max-width: 768px) {
  nav .left .logo span {
    display: initial;
  }
}

/* Right side */
nav .right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fcf5f3;
  height: 100%;
}
@media (max-width: 768px) {
  nav .right {
    background-color: transparent;
  }
  nav .right .img {
    display: block;
  }
}

nav .right a {
  padding: 12px 24px;
  margin: 20px;
}

nav .right .user {
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav .right .user .linkImage {
  margin-right: -15px;
}

nav .right .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Hide username on small screens */
@media (max-width: 640px) {
  nav .right .user span {
    display: none;
  }
}

nav .right .user .profile {
  padding: 12px 24px;
  background-color: #fece51;
  cursor: pointer;
  border: none;
  position: relative;
}

nav .right .user .profile .notification {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .right .register {
  background-color: #fece51;
}

/* Mobile menu icon */
nav .right .menuIcon {
  display: none;
  z-index: 999;
}

nav .right .menuIcon img {
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 640px) {
  nav .right .menuIcon {
    display: inline;
    margin-left: 10px;
  }
}

/* Sliding menu */
nav .right .menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: black;
  color: white;
  height: 100vh;
  width: 50%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 998;
}

/* Menu visible */
nav .right .menu.active {
  right: 0;
}

/* Show menu links in mobile menu */
@media (max-width: 640px) {
  nav .right .menu a {
    display: initial;
  }
}
